.header-section {
    display: flex;
    justify-content: space-between;
}

.about {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.gamer {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-left: 100px;
    align-items: center;
}

.gamer-img {
    width: 86.041px;
    height: 40px;
}

.follow {
    border-radius: 10px;
    background-color: rgba(11, 2, 35, 0.10);
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 15px;
    border-top: 30px;
    margin-top: 8.5px;
}


.g-color {
    color: #FF42A5;
}

.header-list {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-right: 210px;
}

.banner {
    padding: 100px 100px;
    gap: 10px;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.first-paragraph {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 40px;
    text-transform: uppercase;
}

.goat {
    font-family: Work Sans;
    font-size: 80px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.last-paragraph {
    color: #534C64;
    text-align: left;
    font-family: Work Sans;
    font-size: 20px;
    text-transform: lowercase;
}

.banner-btn {
    gap: 45px;
}

.main-sec-text {
    text-align: right;
}

.btn1 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border: none;
    border-radius: 30px;
    color: white;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn2 {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
    color: #FFFFFF;
}

.main-section1 {
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    ;
}

.banner-img {
    padding-top: 70px;
}

.main-section2 {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: space-between;
    padding-right: 210px;
}

.main-sec-h1 {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-sec2-content {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
}

.btn3 {
    padding: 21px 40px;
    float: right;
    gap: 10px;
    border-radius: 48px;
    border: none;
    color: white;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.paragraph-main2 {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    text-align: right;
}

.main2-para {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
}

.main-sec3 {
    padding-top: 10px;
}

.online {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    padding-top: 20px;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 30px;
}

.sec3-para {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
}

.img-p {
    display: flex;
    gap: 200px;
    margin-left: 170px;
}

.main-sec3-img {
    display: flex;
    margin-left: 150px;
    gap: 20px;
}

.main-4-img {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 210px;
}

.main4-span {
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p-4 {
    text-align: right;
    padding-top: 150px;
}

.main-4-p {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 30px;
}

.sec-4img {
    margin-left: 740px;
    position: relative;
    bottom: 250px;
}

.p5 {
    font-family: Work Sans;
    font-size: 30px;
}

.span3 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main5 {
    display: flex;
    justify-content: space-between;
    padding-right: 250px;
    padding-left: 150px;
}

.main5-para {
    padding-top: 150px;
}

.img8 {
    margin-left: 670px;
    position: relative;
    bottom: 220px;
}

.footer-img {
    margin-left: 400px;
    justify-content: space-around;
}

.img1 {
    display: inline-flex;
    width: 170px;
    height: 50px;
    gap: 10px;
}

.img1:hover {
    border-radius: 50px;
    background: #FFF;
    border: 2px solid rgb(0, 102, 255);
}

.game1 {
    padding-top: 15px;
}

.footer-img-2nd {
    margin-left: 500px;
    padding-top: 50px;
    gap: 20px;
}

.last-section {
    background: #0B0223;
    color: #FFF;
    padding-left: 550px;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 20px;
}

.gamer2 {
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-left: 100px;
    align-items: center;
}

.g-color2 {
    color: #FF42A5;
}

.amr {
    color: #FFF;
    font-family: Work Sans;
}

.h2-gamer {
    color: #FFF;
    font-family: Work Sans;
}

.footer-card {
    color: #FFF;
    font-family: Work Sans;
    display: flex;
    gap: 50px;
}

.card-img {
    width: 20px;
    height: 20px;
    display: flex;
    gap: 100px;
}

.last-p {
    display: flex;
    gap: 50px;
}

@media screen and (max-width:576px) {
    .header-section {
        flex-direction: column;
    }

    .header-list {
        flex-direction: column;
        margin-left: 100px;
    }

    .main-section1 {
        flex-direction: column;
        grid-template-columns: 1fr;
    }

    .main-section2 {
        flex-direction: column;
    }

    .main-section2 img {
        width: 100%;
        padding-left: 100px;
    }

    .main-section1 img {
        width: 100%;
        padding-left: 100px;
    }

    .main-sec3 {
        flex-direction: column;
    }

    .main-sec3-img {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 20px;
    }
}